@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 15, 23, 42;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: sans-serif;
  background: #F8FAFC;
  color: #0F172A;
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #64748B;
  border-radius: 4px;
}